$colors: (
    'common': (
        'white': #ffffff,
        'black': #000,
        'black-1': #19191A,
        'black-2': #03041C,
        'gray': #F0F4FD,
    ),
    'theme': (
        'primary': #121212,
        'secondary': #F5F7F5,
        '5': #E8BF96,
    ),
    'heading': (
        'primary': #121212,
        'secondary': #F5F7F5,
    ),
    'text': (
        'body':#828282,
        '1': #01103D,
        '2': #5D5D63,
        '3': #171717,
    ),
    'border': (
        'primary': #FEF3DF,
        'secondary': #F0F2F4,
    )
);

$white : #ffffff;
$black : #0000;
$theme-primary : #121212;
$border-primary : #FEF3DF;