// Post Comments - Mobile.
.elementor-widget-post-comments {
	// Base Theme Widget Styles.
	&.vamtam-has-theme-widget-styles {
		#commentform .form-submit {
			margin: 0 !important;
		}

		.comments .comment-author {
			display: block;
		}

		.comments .avatar,
		.woocommerce #reviews #comments .avatar {
			max-width: 40px!important;
			margin-top: 5px;
			margin-right: 10px !important;
		}
	}
}