.elementor-widget-search-form {
	&.vamtam-has-theme-widget-styles {
		&.elementor-search-form--skin-minimal {
			&:focus-within {
				outline-width: 0;
				outline-style: none;
			}

			input[type="search"].elementor-search-form__input {
				border-top: 0;
				border-left: 0;
				border-right: 0;
				padding: 0;
			}
		}

		.elementor-search-form__icon {
			padding-right: 30px;
		}

		.elementor-search-form__icon i,
		.elementor-search-form__submit i.fa-search{
			font-family: 'theme-icons' !important;
			font-weight: normal;

			&:before {
				content: "\e906" !important;
			}
		}
		.elementor-search-form__submit i.fa-search{
			padding: 0.1em; /* Chrome fix */
		}
	}
}
