.elementor-widget-button {
	&.vamtam-has-theme-widget-styles {
		.elementor-button {
			text-decoration: none;
		}

		.elementor-button-content-wrapper {
			position: relative;
		}

		.elementor-button-icon.elementor-align-icon-right{
			position: absolute;
			bottom: -0.5em;
			right: -0.5em;
			font-size: 1.8em;
			transition: right .2s ease;
		}

		.elementor-button:hover .elementor-button-icon.elementor-align-icon-right {
			right: -0.7em;
		}
	}
}