/*  

	Author : Amedea
	Author URI : http://amedea.pro
	Author : Moskva Yigit
	Author URI : http://moskvayigit.com
	Version : 0.0.3.3

	Table of Contents
	- Animated Hover Menu

*/

/*----------------------------
	.-- Animated Hover Menu
-----------------------------*/

.elementor-editor-active .animated-hover-menu__item{
	justify-content: center;
	position: relative;
	display: grid;
	padding: 1rem;
	text-align: center;
}

.animated-hover-menu-6 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--ahm-marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 10vw;
	counter-reset: animated-hover-menu-6;
	overflow: hidden;
}

.animated-hover-menu-6 a {
	text-decoration: none;
	outline: none;
	color: var(--color-menu);
}

.animated-hover-menu-6 a:hover,
.animated-hover-menu-6 a:focus {
	outline: none;
	color: var(--color-menu-hover);
}

.animated-hover-menu-6__item {
	cursor: default;
	position: relative;
	padding: 0 5vw;
}

.animated-hover-menu-6__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-stroke: 1.5px #000;
	text-stroke: 1.5px #000;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	transition: opacity 0.4s;
}

.animated-hover-menu-6__item-link::before {
	all: initial;
	font-family: sofia-pro, sans-serif;
	counter-increment: animated-hover-menu-6;
	content:  counter(animated-hover-menu-6);
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.animated-hover-menu-6__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.animated-hover-menu-6__item-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}

.animated-hover-menu-6__item-link:hover + .animated-hover-menu-6__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
}

.ahm-marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--ahm-marquee-width);
	overflow: hidden;
	pointer-events: none;
	color: var(--color-menu-deco);
}

.ahm-marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: ahm-marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.animated-hover-menu-6__item-link:hover ~ .ahm-marquee .ahm-marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.ahm-marquee span {
	text-align: center;
}

.animated-hover-menu-6__item-link,
.ahm-marquee span {
	white-space: nowrap;
	font-size: var(--item-font-size);
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;
}

.ahm-marquee span {
	font-style: italic;
}

@keyframes ahm-marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}
