/* WIDGET: NAV MENU
-------------------------------------------- */

.vlt-widget.widget_nav_menu,
.vlt-widget.widget_layered_nav {
	@extend %widget-categories;

	.sf-with-ul::after {
		content: "+";
		padding-left: px2rem(8px);
	}

	.sfHover>.sf-with-ul::after {
		content: "-";
	}

	ul.sub-menu {
		display: none;
		padding-left: px2rem(12px);
		margin-top: px2rem(12px);
	}

}