/* WIDGET: SEARCH FORM
-------------------------------------------- */

.vlt-widget.widget_search,
.vlt-widget.widget_product_search {

	.vlt-search-form {
		position: relative;
		overflow: hidden;

		input[type="text"] {
			padding-right: px2rem(30px);

			&:focus~button>i {
				animation: vlt_animate_icon_right var(--vlt-transition-duration) var(--vlt-transition-easing) forwards;
			}

		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 0;
			margin: 0;
			overflow: hidden;
			font-size: px2rem(map-get($scales, "s7"));
			color: var(--vlt-color-9);
			cursor: pointer;
			background: none;
			border: none;
			transition: color var(--vlt-transition-duration) var(--vlt-transition-easing);

			.vlt-offcanvas-sidebar--dark & {
				color: var(--vlt-color-0);
			}

			i {
				display: inline-flex;
			}

			&:hover {
				color: var(--vlt-accent-1);
			}

		}

	}

}