.elementor-widget-video-playlist {
	&.vamtam-has-theme-widget-styles {
		.e-tabs-items-wrapper .e-tab-title {
			height: 92px;
			padding: 0 30px;

			.e-tab-title-text {
				margin: auto 25px;
			}

			.e-tab-thumbnail,
			.e-tab-thumbnail img {
				width: 95px;
				height: 53px;
			}
		}
	}
}