@import '../posts-base/posts-base.mobile.less';

.elementor-widget-posts {
	&.vamtam-has-theme-widget-styles {
		.posts-base-mobile();

		.elementor-posts--skin-cards .elementor-post__card .elementor-post__badge {
			margin: -1.8em 30px -20px 30px !important;
			padding-top: 0.8em;
		}

		.elementor-posts--skin-cards .elementor-post__card .elementor-post__text {
			margin-bottom: 0 !important;
		}

		&.elementor-sticky .elementor-posts--skin-cards .elementor-post__card {
			.elementor-post__thumbnail {
				height: auto;
			}

			.elementor-post__badge,
			.elementor-post__text,
			.elementor-post__meta-data,
			.elementor-post__avatar {
				max-width: 90%;
				position: relative;
			}
		}
	}
}
