/*RTL CSS*/
body{
	direction: rtl;
	unicode-bidi: embed;
}
caption, th, td {
    text-align: right;
}
.rtl .header1default-logo-area{
    float:right;
}
.header3-logo-area {
    float: right;
}
.header3-menu-area {
    float: left;
}
.header3-menu-area .header3-trackorder-area {
    margin-left: 0;
    margin-right: 45px;
}
.header3-menu-area .header3-trackorder-area .header-btn {
	margin-left:0;
	margin-right:30px;
}
.main-menu ul li:first-child {
    margin-left: 45px;
}
.header3 a.btn.transparent-btn i {
    margin-right: 0;
    margin-left: 6px;
}
.header3-top-left-area {
    float: right;
}
.header-top-right {
    float: left;
}
.header-top-link ul li {
    margin-right: 0;
    margin-left: 30px;
}
.header-social {
    margin-left: 0;
    margin-right: 30px;
}
.header-social a:first-child {
    margin-left: 10px;
}
.header-contact ul li i, .header-top-link ul li a i {
    margin-right: 0;
    margin-left: 5px;
}
.header2-logo-area {
    float: right;
}
.header2-menu-area {
    float: left;
}
.header2-menu-area .header2-trackorder-area {
    margin-left: 0;
    margin-right: 45px;
}
.header2-menu-area .header2-trackorder-area .header-btn {
    margin-left: 0;
    margin-right: 30px;
}
.transparent-header.header-style-two .btn.transparent-btn i {
    margin-right: 0;
    margin-left: 5px;
}
.slider-top-button {
    margin-right: -140px;
}
.header-style-two .header2-top-left-area {
	float: right;
}
.header1default-logo-area {
	float: right;
}
.header1default-menu-area {
	float: left;
}
.header1default-menu-area .header1default-trackorder-area {
	margin-left:0;
	margin-right:45px;
}
.header1default-menu-area .header1default-trackorder-area .header-btn {
	margin-left:0;
	margin-right:30px;
}
.transparent-header.default-header .btn.transparent-btn i {
	margin-right:0;
	margin-left:5px;
}
.default-header-top-left {
	float:right;
}
.default-header-top-right {
	float:left;
}
.header-top-right .header-social {
	margin-right:30px;
	margin-left:0px;	
}


.blog-sidebar {
	text-align: right;
}
.blog-sidebar .widget-title h4 {
	float: right;
}
.rc-post-thumb {
    margin-right: 0;
    margin-left: 20px;
}
.sidebar-cat ul li span {
	right:auto;
	left:0;
}
.blog-sidebar .ws-input button {
	left:0;
	right:auto;
}
.ws-input input{
	padding-right: 25px;
    padding-left: 65px;
}
.widget_tag_cloud a {
	float:right;
	margin-right:0;
	margin-left:10px;
}
.d-post-tag ul {
	float:right;
}
.d-post-tag ul li {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.single-comment .comments-avatar {
	float: right;
    margin-right: 0;
    margin-left: 30px;
}
.comment-text .avatar-name .comment-reply-link {
	float: left;
}
.comment-text .avatar-name .comment-reply-link i {
    margin-right: 0;
    margin-left: 5px;
}
ul#submited-comment {
    padding-left: 0;
    padding-right: 0;
}
.blog-comment-area ul {
    padding-right: 0;
}

.blog-shortcode .single-blog-post {
	text-align: right;
}
.blog-meta ul li, .blog-meta ul li a {
	margin-right: 0;
	margin-left:25px;
}
.blog-meta ul li i {
	margin-right: 0;
	margin-left:5px;
}

.single-features {
	text-align: right !important;
}
.features-content h4::before {
	left:auto;
	right: 0;
}


.service-widget {
    text-align: right;
}
.testi-content {
	text-align: right;
}
.testi-content::before {
	left: auto;
	right: 45px;
}
.testi-avatar {
	margin-left: 0;
	margin-right:0;
}
.testi-avatar .avatar-img {
	margin-right: 0;
	margin-left:30px;
}



.work-process ul li {
    padding-right: 0;
    padding-left: 60px;
    text-align: right;
}
.wprocess-list-num {
    margin-right: 0px;
    margin-left: 37px;
}
.work-process::before {
	left:auto;
	right: 22px;
}

.geoport-counter::before {
	left: -60%;
}
.post-previous {
    text-align: right;
}
.single-about-box{
	text-align: right !important;
}
.single-industries{
	text-align: right;
}
.industries-top a {
	padding:27px 30px 25px 40px;
}
.industries-top a i {
    margin-right: 25px;
    margin-left: 15px;
}

.single-skill {
	text-align: right;
}
.single-skill .progress-bar span {
	right: auto;
	left: 0;
}
.team-details-content {
    padding-left: 0;
    margin-right: 30px;
    text-align: right;
}


.history-list-content {
    padding-right: 45px;
    padding-left: 45px;
}
.history-list-wrap .single-history-wrap:nth-child(2n+1) .history-list-content {
    text-align: right;
    padding-left: 45px;
    padding-right: 45px;
}
.job_board_list_content_area {
	text-align: right;
}
.faq-wrapper .card-header h5 a {
	text-align: right;
	padding: 30px 25px 30px 40px;
}
.faq-wrapper .card-header h5 a span {
	margin-left: 30px;
}
.faq-wrapper .card-header h5 a i {
    margin-left: 20px;	
}
.faq-wrapper .card {
	text-align: right;	
}

.bpost-content {
	text-align: right;
}
.bpost-meta ul {
	padding-right:0;
}
.bpost-meta ul li {
    margin-right: 0px;
    margin-left: 15px;
}
.bpost-meta ul li span i, .bpost-meta ul li a i {
	margin-right:0;
	margin-left:5px;
}
.b-readmore {
    float: left;
}
.bpost-avatar {
    float: right;
}
.bavatar-img {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
.b-readmore a i {
    margin-right: 0;
    margin-left: 10px;
}
.pagination li {
    float: right;
}
.contact-title-btn.text-right {
    text-align: left !important;
}

/*Footer CSS*/
.footer-widget {
    text-align: right;
}
.footer-social ul li {
    margin-right: 0;
    margin-left: 10px;
}
.footer-work-hour-content a i {
    margin-right: 0;
    margin-left: 5px;
}
.footer-widget .rc-post-thumb {
    margin-right: 0;
    margin-left: 20px;
}
.rc-post-date span i {
    margin-right: 0;
    margin-left: 8px;
}
.widget_nav_menu ul li {
    padding-right: 17px;
    padding-left: 0px;
}
.widget_nav_menu ul li:before {
	margin-right:0;
	margin-left:8px;
	left: atuo;
	right:0;
}
.footer-bg2 .footer-text p {
    padding-right: 0;
}


@media (max-width: 991px){
    .rtl .transparent-header.default-header .mean-container a.meanmenu-reveal {
        top: 0px;
        left: 0 !important;
        right: auto !important;
    }
}
@media (max-width: 767px){
    .rtl .transparent-header.default-header .mean-container a.meanmenu-reveal {
        top: 0px;
        left: 0 !important;
        right: auto !important;
    }
}