.order-tracking-page .entry > .woocommerce {
  width: 770px;
  margin: 10% auto;
  max-width: 100%;
}

body.woocommerce-account:not(.logged-in) .page-content .woocommerce > h2 {
  text-align: center;
}

.u-columns.col2-set .woocommerce-form-login.login {
  margin: 0;
}

.la-myaccount-page{
  max-width: 570px;
  margin: 0 auto 50px;
  .la_tab_control {
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
    font-size: 24px;
    text-align: center;
    li{
      display: inline-block;
      &.active{
        font-weight: bold;
      }
    }
  }
  form{
    .button{
      width: 100%;
      margin: 0 !important;
      display: block;
      line-height: 30px;
      padding: 15px 20px !important;
      border-width: 0;
    }
  }
  .form-row{
    margin-bottom: 20px;
    .input-text{
      height: 60px;
    }
    label{
      margin: 5px 0 10px;
    }
  }
  .la-tab-panel{
    display: none;
  }
  #la_tab--login{
    display: block;
  }
  .la-checkbox{
    margin-top: 15px;
    .lost_password {
      float: right;
    }
    input{
      display: none;
    }
    label{
      float: left;
      text-transform: none;
      color: inherit;
      position: relative;
      padding-left: 38px;
      line-height: 20px;
      &:before{
        content: "";
        width: 19px;
        height: 19px;
        border: 2px solid;
        position: absolute;
        left: 0;
        color: #e4e4e4;
      }
    }
    input:checked + {
      label{
        &:after{
          content: "\f00c";
          font-family: FontAwesome;
          position: absolute;
          width: 19px;
          height: 19px;
          left: 0;
          text-align: center;
          line-height: 20px;
          font-weight: normal;
          color: #4fb3ec;
        }
      }
    }
  }
  .wc-social-login {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .ywsl-label{
    text-transform: uppercase;
  }
  .btn-create-account {
    display: block;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 20px;
    font-weight: bold;
    border-color: #e4e4e4;
  }
}

.socials-list{
  @include clearfix;
  text-align: center;
  .social_login{
    background-color: #f5f5f5;
    color: #8a8a8a;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    float: left;
    font-size: 11px;
    padding: 20px 20px;
    line-height: 20px;
    width: 23.875%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    &:nth-child(4){
      margin-right: 0;
    }
    &:hover{
      color: #fff;
      background-color: #4fb3ec;
    }
  }
}

.lost_reset_password {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}


.woocommerce-login{
  .woocommerce > h2{
    max-width: 500px;
    margin: 0px auto 30px;
    font-size: 20px;
    position: relative;
    font-weight: 400;
    padding-left: 30px;
    &:before{
      @include lastudio-icon;
      content: "\f2c0";
      left: 0;
      position: absolute;
      z-index: 1;
    }
  }
}

form.lost_reset_password .form-row {
  width: 100%;
}
.woocommerce-MyAccount-navigation{
  width: 100%;
  background: #f7f7f7;
  margin-bottom: 2em;
  text-align: center;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li{
    display: inline-block;
    margin: 0 !important;
    a{
      display: block;
      padding: 10px 30px;
    }
    &:hover,
    &.is-active{
      a{
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

.woocommerce-MyAccount-content {
  width: 100%;
}

.woocommerce-address-fields__field-wrapper {
  overflow: hidden;
  margin-bottom: 20px;
}
.registration-form{
  margin-bottom: 30px;
  .form-row{
    margin-bottom: 40px;
  }
  label{
    display: none;
  }
  input{
    border: none;
    @include border-radius(2px);
    font-size: 16px;
    width: 100%;
    color: #fff;
  }
  .input-text{
    background-color: #134f8a;
    padding: 15px 40px;
    color: #487eb4;
    &:focus{
      color: #fff;
    }
  }
  .button{
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $primary-color;
  }
}

.woocommerce-account .single-page-article .entry > .woocommerce{
  > h2{
    font-size: 20px;
    font-weight: normal;
    &:before{
      content: '\ea6f';
      @include lastudio-icon();
      margin-top: -4px;
      padding-right: 10px;
    }
  }
  > h2,
  > .woocommerce-form{
    width: 550px;
    max-width: 100%;
    margin: 0 auto 10px;
  }
  >h2{
    margin-top: 40px;
  }
}

.woocommerce-form-register,
.woocommerce-form-login{
  .woocommerce-button{
    padding: 17px 40px;
    min-width: 140px;
    text-transform: uppercase;
  }
}
.lastudio-kit{
  .woocommerce-privacy-policy-text,
  .lost_password{
    a{
      font-size: 14px;
      text-decoration: underline;
      color: $primary-color;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

#customer_login{
  margin: 50px auto;
  width: 570px;
  max-width: 100%;
  position: relative;
  padding-top: 50px;
  p{
    margin-bottom: 15px;
    clear: both;
  }
  .woocommerce-privacy-policy-text {
    margin-bottom: 15px;
    font-size: .875em;
    clear: both;
  }
  h2{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: $three-color;
    font-weight: 400;
    font-family: inherit;
    + form{
      display: none;
      padding-top: 1em;
    }
  }
  .col-1,
  .col-2{
    width: 100%;
    padding: 0;
    min-height: 0;
    position: static;
    &.active{
      form{
        display: block;
      }
    }
  }
  >div.active>h2 {
    color: $secondary-color;
    cursor: default;
    &:after{
      //content: '';
      background-color: $primary-color;
      opacity: 0.3;
      position: absolute;
      left: -5%;
      bottom: 0.1em;
      right: -5%;
      height: 0.3em;
    }
  }
  .col-2{
    > h2{
      right: 0;
      left: auto;
    }
  }

  div[style*="clear"] {
    display: none;
  }
}

p.lost_password,
.wcr_resigter_link{
  width: 48%;
  float: left;
  clear: none !important;
  @media(max-width: 800px){
    width: 100%;
  }
}
.wcr_resigter_link{
  width: 60%;
  @media(max-width: 800px){
    width: 100%;
  }
  span{
    padding-right:5px;
  }
  @media(min-width: 800px){
    text-align: right;
  }
}


.dokan-dashboard-wrap{
  ul.subsubsub{
    color: inherit;
  }
  .dokan-btn{
    border-radius: 0;
  }
  .dokan-form-control{
    padding-top: 9px;
    padding-bottom: 9px;
  }
  select.dokan-form-control{
    padding: 15px;
    height: 44px;
    min-width: 100px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  }
}
.dokan-orders-content .dokan-orders-area ul.order-statuses-filter{
  margin: 0;
}
.dokan-dashboard-wrap .select2-container .select2-selection--single {
  height: 44px;
  font-size: 14px;
}

.dokan-dashboard-wrap .select2-container .select2-selection--single .select2-selection__rendered {
  margin-top: 6px;
}

//#customer_login form.woocommerce-form {
//  display: flex;
//  flex-direction: column;
//}

.heateor_sl_outer_login_container {
  order: 10;
  clear: both;
  ~ .form-row {
    order: 8;
  }
}
.heateor_sl_error {
  clear: both;
  display: none;
}
.heateor_sl_login_ul .heateorSlLogin:after {
  content: attr(title);
}
.heateor_sl_login_ul .heateorSlLogin {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 6px 15px !important;
  border-radius: 5px;
  gap: 10px;
  background: #2660CC;
  border: none;
  margin: 0 10px 5px 0;
  font-style: normal;
}
.heateor_sl_login_ul .heateorSlLogin div {
  margin: 0;
}
.heateor_sl_login_ul .heateorSlLoginSvg {
  width: 25px;
  height: 25px;
}
.heateor_sl_login_ul #heateorSlGoogleButton {
  background: #DB422E;
}
#heateorSlGoogleButton .heateorSlGoogleLoginSvg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.645' height='24' viewBox='0 0 23.645 24'%3E%3Cpath d='M23.515 9.818H12.06v4.909h6.492c-1.037 3.273-3.6 4.364-6.544 4.364a7.091 7.091 0 1 1 4.553-12.52l3.567-3.4A12 12 0 1 0 12.008 24c6.617 0 12.6-4.364 11.507-14.182Z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 90% !important;
}
#customer_login{
  .heateor_sl_title {
    display: none;
  }
}
.lastudio-kit ul.heateor_sl_login_ul {
  margin: 0 0 15px !important;
  overflow: hidden;
}
.lastudio-kit .lakit-login ul.heateor_sl_login_ul {
  margin-bottom: 10px !important;
}

@media(max-width: 1200px){
  .woocommerce-MyAccount-navigation li a{
    padding: 10px;
  }
  .heateor_sl_login_ul .heateorSlLogin {
    font-size: 12px;
    gap: 5px;
    padding: 6px 10px !important;
    margin-right: 5px;
  }
  .heateor_sl_login_ul .heateorSlLogin div,
  .heateor_sl_login_ul .heateorSlLoginSvg {
    width: 20px;
    height: 20px;
  }
}

@media(max-width: 767px){
  .woocommerce-MyAccount-navigation li a{
    padding: 5px 8px;
    font-size: 14px;
  }
}

.lost_reset_password input#user_login,
.lost_reset_password input#user_pass {
  height: var(--input-height,50px) !important;
}