body.responsive-layout {

	#scroll-to-top {
		bottom: 20px;
	}

	.vamtam-prevent-scroll-jumps {
		display: none;
	}

	.page-wrapper {
		flex-direction: column;
	}
}

/* --- Widgets --- */
// Glob import all below-max widget styles.
@import '../../elementor/widgets/**/*.tablet.less';