.elementor-widget-wp-widget-categories.vamtam-has-theme-widget-styles {
	h5 {
		display: none;
	}

	ul {
		padding-inline-start: 0;
		margin-block-end: 0;
		margin-block-start: 0;
		list-style: none;

		li {
			display: flex;
			justify-content: space-between;
			padding: 0.8em 0em;
			border-bottom: solid 1px var( --e-global-color-vamtam_accent_7 );
			font-size: 11px;
			color: var( --e-global-color-vamtam_accent_3 );

			a {
				font-family: var( --e-global-typography-vamtam_h4-font-family ), Sans-serif;
				font-size: var( --e-global-typography-vamtam_h4-font-size );
				text-decoration: var( --e-global-typography-vamtam_h4-text-decoration );
				line-height: var( --e-global-typography-vamtam_h4-line-height );
				font-size: max(18px);
				width: 100%;
			}
		}
	}
}
